@font-face {
  font-family: "iconfont"; /* Project id 3207891 */
  src: url('iconfont.woff2?t=1645942188306') format('woff2'),
       url('iconfont.woff?t=1645942188306') format('woff'),
       url('iconfont.ttf?t=1645942188306') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suo:before {
  content: "\e628";
}

.icon-Password:before {
  content: "\e680";
}

.icon-_baobiao:before {
  content: "\e609";
}

.icon-volumemeasurement:before {
  content: "\e662";
}

.icon-shangpin:before {
  content: "\e86d";
}

.icon--users:before {
  content: "\e605";
}

.icon-morentouxiang:before {
  content: "\e60a";
}

.icon-mianxingdanju:before {
  content: "\e656";
}

.icon-user:before {
  content: "\e99e";
}

.icon-15password_01:before {
  content: "\e62a";
}

